*{
  margin: 0;
  padding: 0;
}
.more {
  display: inline-block;
  border: none;
  background-color: #EDEDED;
  font-size: 20px;
  color: #2E37FE;
  text-decoration: none;
}

.more:hover {
  text-decoration: underline;
}
.line{
  width: 1250px ;
  margin-top: 25px;
  background-color: #EDEDED;
}
.catbutton{
  background-color:black;
}
